rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth != null && request.auth.uid in [
        "q67SwKv51AOn7pp7mQTxdV2xCv33",
        "Ogv5kGERJKguWd5lSux5xDu1zZr1"
      ];
    }

    match /appointments/{appointmentId} {
      allow read, write: if isOwner();
    }

    match /deviceTokens/{tokenId} {
      allow read, write: if isOwner();
    }
  }
}
